# SimNIBS specific
bin/
simnibs/matlab_tools/SIMNIBSDIR.m
simnibs/matlab_tools/SIMNIBSPYTHON.m
simnibs/matlab_tools/simnibs
simnibs/matlab_tools/simnibs.cmd
simnibs/resources/spm12/
activate_simnibs
uninstall_simnibs
simnibs/mesh_tools/cython_msh.c
simnibs/simulation/petsc_solver.c
simnibs/mesh_tools/cgal/create_mesh_surf.cpp
simnibs/mesh_tools/cgal/create_mesh_vol.cpp
simnibs/mesh_tools/cgal/cgal_misc.cpp
simnibs/mesh_tools/cgal/polygon_mesh_processing.cpp
simnibs/segmentation/_cat_c_utils.c
simnibs/segmentation/_marching_cubes_lewiner_cy.c
simnibs/segmentation/_thickness.c
Contents/
simnibs/ccd-files/LICENSE
simnibs/ccd-files/README.md
# notice the first / (no recursivity)
/build

simnibs/_version.py

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo
*.dylib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ubuntu backup files
*~

# IDE stuff
.idea/
.Rhistory
.vscode

# Mac stuff
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/lib.*/

# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Spyder project settings
.spyderproject

# Sublime project settings
*.sublime-project
*.sublime-workspace

# Vim
*.vim
*.swp

# GetDP/gmsh Resuls
*.log

# Misc
miniconda3/

# msvc debug file
*.pdb

###LaTeX###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
!simnibs/external/bin/osx/fmm3dpy-1.0.0-cp39-cp39-macosx_10_9_x86_64.whl
