# SimNIBS specific
bin/
simnibs/matlab/SIMNIBSDIR.m
simnibs/matlab/simnibs
simnibs/matlab/simnibs.cmd
simnibs/resources/spm12/
activate_simnibs
uninstall_simnibs
simnibs/cython_code/_marching_cubes_lewiner_cy.c
simnibs/cython_code/cython_msh.c
simnibs/cython_code/petsc_solver.c

#
# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo
*.dylib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Ubuntu backup files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.gz

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Spyder project settings
.spyderproject

# Sublime project settings
*.sublime-project
*.sublime-workspace

# Vim
*.vim
*.swp

# GetDP/gmsh Resuls
*.log

# Misc
miniconda3/

###LaTeX###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
