include *.md *.txt
include simnibs/bash_modules/*
include simnibs/matlab/*
include simnibs/msh/*.m
include simnibs/cython_code/*.pyx
# We add all binaries here and remove the ones we don't need in the setup.py script
include simnibs/cython_code/*.dll
include simnibs/cython_code/*.dylib
graft simnibs/ccd-files
graft simnibs/bin
graft simnibs/lib
graft simnibs/include
graft simnibs/resources
graft simnibs/examples
graft simnibs/tests
